/* page styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 5.6rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
  padding: 32px 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 2rem;
  font-weight: lighter;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* header */

header {
  height: 64px;
}

nav {
  margin-right: 24px;
}

nav a {
  color: black;
  font-size: 1.8rem;
  margin-left: 16px;
  text-decoration: none;
}

/* dynamic nav links */

nav a:hover {
  border-bottom: 2px solid hsl(52, 80%, 50%);
  font-weight: bold;
  padding-bottom: 2px;
}

.logo {
  height: 32px;
  margin-left: 24px;
}

.logo img {
  padding-right: 5px;
}

.logo span {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

#academy {
  color: DarkGray;
  font-weight: normal;
}

/* banner */

.jumbotron {
  background-image: linear-gradient(hsl(52, 80%, 70%), hsl(52, 80%, 50%));
}

.container {
  box-sizing: border-box;
  display: inline-block;
}

.one {
  padding: 32px 24px;
  width: 60%;
}

.two {
  padding-top: 32px;
  width: 40%;
}

.headline {
  padding: 0 5%;
}

.headline p {
  font-size: 2.4rem;
  padding: 40px 0;
}

.banner {
  box-shadow: 3px 3px 3px grey;
  width: 100%;
  height: auto;
}

/* dynamic image overlay */

.jumbotron-anchor {
  position: relative;
}

#jumbotron-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: auto;
  z-index: 1;
}

.jumbotron-anchor:hover .banner {
  opacity: .5;
}

.jumbotron-anchor:hover #jumbotron-overlay {
  display: inherit;
}

/* dynamic start button */

#start {
  border: 1px solid black;
  cursor: pointer;
  padding: 8px 0;
  text-align: center;
}

#start:hover {
  background-color: black;
  color: white;
}

#start:active {
  background-color: black;
  color: hsl(52, 80%, 50%);
}

/* info section */

.info {
  align-items: flex-start;
}

.banner {
  margin-bottom: 32px;
}

.one p {
  margin: 24px 0;
}

.content-box p {
  padding: 20px 0;
}

.content-image {
  box-sizing: border-box;
  margin: 16px;
  width: 35%;
}

.content-image img {
  width: 100%;
}

.content-text {
  padding-right: 5%;
  width: 65%;
}

.content-text a {
  color: navy;
  font-size: 1.8rem;
  text-decoration: none;
}

/* dynamic read more link */

.content-text a:hover {
  font-weight: bold;
}

#author {
  font-size: 1.4rem;
  margin-bottom: 32px;
}

/* dynamic image overlay */

.info-anchor {
  position: relative;
}

#info-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: auto;
  z-index: 1;
}

.info-anchor:hover .banner {
  opacity: .5;
}

.info-anchor:hover #info-overlay {
  display: inherit;
}

/* dynamic content-box effect */

.content-box:hover {
  background-color: lightgray;
}

/* courses section */

.courses {
  background-color: hsla(0, 0%, 0%, .9);
}

.courses h2,
.courses h3,
.courses p {
  color: lightgray;
}

.course-container {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 72px;
}

.course-box {
  border: 1px solid hsl(52, 80%, 60%);
  margin: 0 32px 20px 32px;
  max-width: 25%;
}

.course-image img {
  width: 100%;
}

.course-text {
  justify-content: flex-start;
  padding: 24px;
}

.course-text p {
  padding-top: 24px;
}

/* dynamic course item effects */

.course-box:hover {
  box-shadow: 5px 5px 5px 5px hsl(52, 80%, 60%);
  cursor: pointer;
}

.course-box:hover h3 {
  color: hsl(52, 80%, 60%);
}

.course-box:active {
  background-color: hsla(52, 80%, 60%, .4);
}

/* showcase section */

.showcase {
  align-items: flex-start;
}

/* footer section */

footer {
  align-items: start;
  background-image: linear-gradient(hsl(52, 80%, 70%), hsl(52, 80%, 50%));
  border-top: 1px solid white;
  height: 100px;
}

footer p {
  font-size: 1.2rem;
}

/* generic media query */

@media only screen and (max-width: 1080px) {
  .jumbotron,
  .info,
  .showcase {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    text-align: center;
  }

  .content-text {
    text-align: left;
  }

  .content-text p:first-of-type {
    display: none;
  }

  .content-text a {
    padding: 10px 0;
  }

  h1 {
    font-size: 3.6rem;
  }
}

/* mobile media query */

@media only screen and (max-width: 830px) {

}
