/* page styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 5.6rem;
  font-weight: bold;
}

h2 {
  font-size: 3.6rem;
  padding: 32px 0;
  text-align: center;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 2rem;
  font-weight: lighter;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* header */

header {
  height: 64px;
}

nav {
  margin-right: 24px;
}

nav a {
  color: black;
  font-size: 1.8rem;
  margin-left: 16px;
  text-decoration: none;
}

/* dynamic nav links */

nav a:hover,
.mobile-nav a:hover {
  border-bottom: 2px solid hsl(52, 80%, 50%);
  font-weight: bold;
  padding-bottom: 2px;
}

.mobile-nav {
  display: none;
  justify-content: space-around;
  width: 100%;
}

.logo {
  height: 32px;
  margin-left: 24px;
}

.logo img {
  padding-right: 5px;
}

.logo span {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

#academy {
  color: DarkGray;
  font-weight: normal;
}

/* header mobile media query */

@media only screen and (max-width: 830px) {
  header .logo {
    display: none;
  }

  nav.desktop {
    display: none;
  }

  .mobile-nav {
    display: inherit;
  }
}

/* banner */

.jumbotron {
  background-image: linear-gradient(hsl(52, 80%, 70%), hsl(52, 80%, 50%));
}

.container {
  box-sizing: border-box;
  display: inline-block;
}

.one {
  padding: 32px 24px;
  width: 60%;
}

.two {
  padding-top: 32px;
  width: 40%;
}

.headline {
  padding: 0 5%;
}

.headline p {
  font-size: 2.4rem;
  padding: 40px 0;
}

.banner {
  box-shadow: 3px 3px 3px grey;
  width: 100%;
  height: auto;
}

/* dynamic image overlay */

.anchor {
  position: relative;
}

#overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: auto;
  z-index: 1;
}

.anchor:hover .banner {
  opacity: .5;
}

.anchor:hover #overlay {
  display: inherit;
}

/* dynamic start button */

#start {
  border: 1px solid black;
  cursor: pointer;
  padding: 8px 0;
  text-align: center;
}

#start:hover {
  background-color: black;
  color: white;
}

#start:active {
  background-color: black;
  color: hsl(52, 80%, 50%);
}

/* banner mobile media query */

@media only screen and (max-width: 830px) {
  .container {
    display: block;
  }

  .one {
    padding: 0;
    width: 100%;
  }

  .two {
    padding: 0 16px;
    width: 100%;
  }

  .headline {
    padding: 0;
  }

  .headline p {
    padding: 32px 0 24px 0;
  }

  #start {
    margin: 0 auto;
    width: 50%;
  }
}

/* info section */

.info {
  align-items: flex-start;
}

.banner {
  margin-bottom: 32px;
}

.one p {
  margin: 24px 0;
}

.content-box p {
  padding: 20px 0;
}

.content-image {
  box-sizing: border-box;
  padding: 16px;
  width: 35%;
}

.content-image img {
  width: 100%;
}

.content-text {
  padding-right: 5%;
  width: 65%;
}

.content-text a {
  color: navy;
  font-size: 1.8rem;
  text-decoration: none;
}

/* dynamic read more link */

.content-text a:hover {
  font-weight: bold;
}

.mobile-image {
  display: none;
}

#author {
  font-size: 1.4rem;
  margin-bottom: 32px;
}

/* dynamic content-box effect */

.content-box:hover {
  background-color: lightgray;
}

/* info mobile media query */

@media only screen and (max-width: 830px) {
  .info .one {
    display: none;
  }

  .content-box {
    display: block;
    padding-bottom: 48px;
  }

  .two div:last-of-type {
    padding-bottom: 32px;
  }

  .content-image,
  .content-text {
    display: inline-block;
    margin: 0 auto;
    width: 80%;
  }

  .desktop-image {
    display: none;
  }

  .mobile-image {
    display: inherit;
  }

  img.mobile-image {
    width: 100%;
    height: auto;
  }

  .content-text {
    padding: 0;
    position: relative;
    left: 32px;
  }
}

/* courses section */

.courses {
  background-color: hsla(0, 0%, 0%, .9);
}

.courses h2,
.courses h3,
.courses p {
  color: lightgray;
}

.course-container {
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 72px;
}

.course-box {
  border: 1px solid hsl(52, 80%, 60%);
  margin: 0 32px 20px 32px;
  max-width: 25%;
}

.course-image img {
  width: 100%;
}

.course-text {
  justify-content: flex-start;
  padding: 24px;
}

.course-text p {
  padding-top: 24px;
}

/* dynamic course item effects */

.course-box:hover {
  box-shadow: 5px 5px 5px 5px hsl(52, 80%, 60%);
  cursor: pointer;
}

.course-box:hover h3 {
  color: hsl(52, 80%, 60%);
}

.course-box:active {
  background-color: hsla(52, 80%, 60%, .4);
}

/* courses mobile media query */

@media only screen and (max-width: 830px) {
  h2 {
    padding: 32px 0 16px 0;
  }

  .courses {
    padding-bottom: 32px;
  }

  .course-container {
    display: block;
  }

  .course-box {
    margin: 0 0 8px 0;
    max-width: 100%;
  }

  .course-box:hover {
    box-shadow: 2px 2px 2px 2px hsl(52, 80%, 60%);
  }

  .course-text{
    display: block;
    padding: 16px 16px 24px 16px;
  }

  .course-image {
    display: none;
  }

  .course-text p {
    display: none;
  }
}

/* showcase section */

.showcase {
  align-items: flex-start;
}

#thesis {
  display: none;
}

/* showcase mobile media query */

@media only screen and (max-width: 830px) {
  video.banner {
    margin: 0;
  }

  .showcase {
    padding: 32px 0 24px 0;
  }

  .showcase .two {
    display: none;
  }

  #thesis {
    display: inherit;
    padding-bottom: 16px;
  }

  #reimagine,
  .showcase .one p {
    display: none;
  }
}

/* footer section */

footer {
  align-items: start;
  background-image: linear-gradient(hsl(52, 80%, 70%), hsl(52, 80%, 50%));
  border-top: 1px solid white;
  height: 100px;
}

footer p {
  font-size: 1.2rem;
}

/* footer mobile media query */

@media only screen and (max-width: 830px) {
  footer nav {
    display: none;
  }

  footer p {
    font-size: 2rem;
    padding: 16px;
  }

  footer,
  footer.logo {
    height: auto;
    margin: 0
  }
}

/* generic 1080px media query */

@media only screen and (max-width: 1080px) {
  .jumbotron,
  .info,
  .showcase {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 32px;
    text-align: center;
  }

  .one,
  .two {
    width: 70%;
  }

  .content-text {
    text-align: left;
  }

  .content-text a {
    padding: 10px 0;
  }

  h1 {
    font-size: 3.6rem;
  }
}
